/* src/App.css */

.App {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px); /* Menyesuaikan lebar konten setelah sidebar */
}

h1 {
  color: #333;
}
/* src/App.css */

.App {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  background: linear-gradient(to bottom, #fbcfe8, #a1c4fd); /* Soft Pink to Soft Blue */
  min-height: 100vh;
}
