/* src/App.css */

.App {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px); /* Menyesuaikan lebar konten setelah sidebar */
}

h1 {
  color: #333;
}
/* src/App.css */

.App {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  background: linear-gradient(to bottom, #fbcfe8, #a1c4fd); /* Soft Pink to Soft Blue */
  min-height: 100vh;
}
